body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-img{
  width: 60%;
  height: 50vh;
}
.h5{
  font-size: larger;
  font-weight: 600;
}
.bs{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.date{
  font-size: smaller !important;
  color: gray !important;
}
.message{
width: 40%;
border: 1px solid gray;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
 position: fixed;
 top:83vh;
float:left !important;

}
.sub-mess{
  /* position: fixed;
  top: 92vh; */
  position: fixed;
  top: 83vh;
  left:66%
}
.welcome{
  border: 1px solid rgb(203, 195, 195);
  border-radius: 16px;
  color: gray;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 
}
.mess-cont{
  width: 50%;
  height: 90vh;
  border: 1px solid gray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-wrap:break-word; 
  /* background-color: rgb(244, 238, 238); */
  background-color: rgb(240, 214, 218);

}
.mes-bs{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 6px;
  background-color: rgb(183, 230, 249) !important;
}
.time{
  font-size: small;
  color: gray;
}
.chat-btn{
  width: 89px !important;
  position: relative;
  top:-70px;
  left: 70%;
  
}
.details-btn{
  width: 89px !important;
  position: relative;
  top:-107px;
  left: 80%;
}
.navbar a{
  color: rgb(211, 204, 204) !important;

}
/* .navbar{
  margin-bottom: 15px;
 
} */
.inline{
  display: flex;
  justify-content: space-around;
  height: 30px;
  border: 1px solid rgb(212, 209, 209);
  /* border-bottom: 1px none gray !important; */
  border-radius: 16px;
 
}
.chat{
 color: black;
  
}

.p-chat{
  font-size: small !important;
}
.small-text{
  font-size: small;
  color: black;
  font-weight: 200;
  padding-left: 5px;
}
.profile-img{
  width: 150px;
  height: 150px;
}
.model button{
  background-color:rgb(52, 50, 50);
  color: white !important;
}
.model button:hover{
  background-color: rgb(83, 82, 82) !important;
}
.body-login{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 50%;
  height: auto;
  margin-top: 30px;
  background-color: rgb(229, 239, 248);
}
.login-form{
  border: none;
  border-bottom: 1px solid gray !important;
}
.register-body{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
width: 50%;
background-color: rgb(229, 239, 248);

}
.reg-input{
  border: none;
  border-bottom: 1px solid gray  !important;
 margin-right: 10px !important;
 
}
.login-model1 button{
  display: none;
}
.show-button{
  display:inline-flex !important;
  justify-content: space-around !important;
  margin-right: 10px;
 
}
a{
   text-decoration: none;
}
.post-body{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
width: 60%;
height: auto;
background-color: rgb(224, 237, 249);
}
.event-body{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
width: 60%;
height: auto;
background-color: rgb(228, 240, 250);
}
.event-input{
  /* background: transparent !important; */
}
.post-input{
  border: none;
  border-bottom: 1px solid gray !important;
}
.profile-model button{
background-color: black !important;
color: white;
}
.profile-model button:hover{
  background-color: rgb(92, 89, 89) !important;
}
.profile-body{
  width: 50%;
}
.reg-link{
  /* text-align:right; */
  justify-content: space-around;
  align-items: center;
}
.p{
  font-size: small;
  padding-bottom: 3px;
  color: rgb(89, 85, 85);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.h6{
  font-size: medium;
  color: rgb(8, 0, 0);
}
.post-p{
  font-size: small;
  font-weight:100;
}
.post-details-model button{
  background-color: black;
  color: white;
}
.post-details-model button:hover{
  background-color: rgb(74, 73, 73) !important;
  color: white !important;
}
.landing{
  width: 100vw;
  height: 100vh;
  background: fixed;
  background-image: url('https://plus.unsplash.com/premium_photo-1677025010737-25d72ff40992?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80')
}
.quotes h1{
  position: relative;
  top: 20vh;
}
.button-div{
  display: flex;
  position: relative;
  top:50vh ;
  justify-content:flex-end;
  
  
}
.button-div button{
  margin-right: 30px;
}
.button-div button:hover{
  background-color: rgb(253, 83, 83);
}
.reg-link{
  display: flex;
  justify-content: space-around;
}
.login-option{
  display: flex;
  justify-content: end;
 
}
.login-option a{
   margin-bottom: 5px;
   margin-right: 7px;
   text-decoration: underline
}
.main-bg{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80');
}
.profile-main{
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}
.event-main{
  background-image: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
}
.post-main{
  background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');

}